<!-- card詳細ページ-->
<!-- ajax csrfの適用をするため、headを記載 -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <meta name="csrf-token" content="<%- csrfToken %>">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Share-code</title>
  </head>
  <body>
    <!-- ヘッダー部分 -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
      <div class="container">
        <h2 class="navber-brand font-italic text-light">Share code</h2>
        <div class="float-right">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="float-right d-none d-sm-block">
              <ul class="navbar-nav">
                <li class="nav-item active ml-1">
                  <a class="nav-link ml-2" href="/">Top</a>
                </li>
                <li class="nav-item ml-1">
                  <a class="nav-link ml-2" href="/user-list">Users</a>
                </li>
                <li class="nav-item ml-1">
                  <a class="nav-link ml-2" href="/posts/new">New</a>
                </li>
                <li class="nav-item ml-1">
                  <a class="nav-link ml-2" href="/mypage">My page</a>
                </li>
                <li class="nav-item ml-1">
                  <a class="nav-link ml-2" href="/login">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="card m-3 detail-card">
              <div class="card-header font-weight-bold bg-dark">
                <img
                  class="card-icon"
                  src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/upload-icon/<%= post.user.iconFileName %>"
                  alt=""
                />
                <span class="text-light ml-3"><%= post.user.name %></span>
                <span class="float-right mr-1 fa-lg">
                  <i class="fas fa-comment"></i>
                  <span class="text-light">
                    <%= comments.length %>
                  </span>
                </span>
                <span class="float-right mr-3 fa-lg">
                  <span class="favorite-button" data-is-favorite="<%= post.isFavorite %>" data-post-id="<%= post.id %>" data-user-id="<%= user.id %>">
                    <i class="fas fa-heart heart fa-fw fa-lg"></i>
                  </span>
                  <span class="text-light favorite-count">
                    <%= post.favoriteCount %>
                  </span class="text-light">
                </span>
                
              </div>

              <div class="card-body bg-light border-success">
                <h2 class="card-title ml-4"><%= post.songName %></h2>
                  <% if (post.isOriginal === "true") { %>
                    <span class="ml-5">original</span>
                  <% }; %>
                <div id="output_area" id="input" class="output_area mt-3"><%= post.codeProg %></div>
                <p class="mt-4 ml-2">備考</p>
                <p class="w-100"><%= post.memo %></p>

                <% if(post.audioFileName !== 'no-audio') { %>
                  <span class="float-right mr-2">
                    <span data-audio="audio<%= post.id %>" class="text-dark sound-button" onclick="sound(event)">
                      プレイヤーの表示<i class="fas fa-play-circle fa-fw fa-3x"></i>
                    </span>
                  </span>
                  <audio id="audio<%= post.id %>" preload="none"><!-- 最初から読み込まないnone -->
                    <source src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/audio/<%= post.audioFileName %>" type="audio/mp3">
                    <source src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/audio/<%= post.audioFileName %>" type="audio/mp4">
                    <source src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/audio/<%= post.audioFileName %>" type="audio/mpeg"/>
                    <source src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/audio/<%= post.audioFileName %>" type="audio/wav" />
                    <source src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/audio/<%= post.audioFileName %>" type="audio/ogg" />
                    <source src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/audio/<%= post.audioFileName %>" type="audio/ogg; codecs=vorbis"/>
                    <source src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/audio/<%= post.audioFileName %>" type="audio/ogg; codecs=opus"/>
                    <p>対応していないファイルです</p>
                  </aidio>
                <% }; %>

              </div>
            </div>
        </div>
      </div>

      <!--ログイン状態でなければコメントできないようにしたい-->
      <% if ( user !== 'null' ) { %>
        <form name="form" method="post">
          <input type="hidden" name="_csrf" value="<%- csrfToken %>">
          <div class="row">
            <div class="col-1 ml-lg-4">
              <img
                class="comment-icon"
                src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/upload-icon/<%= user.iconFileName %>"
                alt=""
              />
            </div>
            <div class="col-11 col-md-10 col-lg-9">
              <textarea id="content" name="content" required class="bg-light w-100 rounded" rows="4" placeholder="<%= user.name %>としてコメントを入力…"></textarea>
            </div>
            <div class="col-12 col-lg-1 mt-lg-5">
              <span data-user-name="<%= user.name %>" data-icon-name="<%= user.iconFileName %>" data-post-id="<%= post.id %>" data-user-id="<%= user.id %>" class="comment-button float-right btn btn-primary">送信</span>
            </div>
          </div>
        </form>
      <% } else { %>
        <div class="row">
          <div class="col text-center">
            <a href="/login">ログインしてコメントする…</a>
          </div>
        </div>
      <% }; %>
      <p id="text-target" class="text-target text-center"></p>

      <% if (comments) { %>
        <div class="w-100 mt-3" style="border:1px solid #333"></div>
      <% } else if (comments = null) { %>  <!-- 表示されない-->
        <div class="w-100 mt-5" style="border:1px solid black"></div>
        <p class="text-center mt-4">この投稿cardにコメントはありません</p>
      <% }; %>

      <!-- コメントを全件表示-->
      <div id="comment-target" class="row mt-1 ml-lg-3"></div>
      <!-- まずは、replyId　がないものを表示 -->
      <% comments.forEach(comment => { %>
        <% if (comment.replyId === null) { %>
        <div id="<%= comment.id %>" class="row mt-1 ml-lg-3">
          <div class="col-2 col-md-1 mt-2">
            <img
              class="comment-icon"
              src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/upload-icon/<%= comment.user.iconFileName %>"
              alt=""
            />
          </div>

          <div class="col-10 col-md-11 col-lg-10">
            <div class="row">
              <div class="col-12 comment-name pt-2">
                <%= comment.user.name %>
              </div>

              <div class="col-12">
                <p class="border border-success mt-2 rounded">
                  <%= comment.content %>
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-11">
            <form action="/posts/reply/<%= post.id %>/<%= comment.id%>" method="post">
              <input type="hidden" name="_csrf" value="<%- csrfToken %>">
              <div class="row" id="reply<%= comment.id %>"></div>
            </form>
            <!-- 自分のコメントなら削除ボタンを出現 -->
            <% if ( user !== 'null' ) { %>
            <% if (user.id === comment.userId ) { %>
            <div class="float-right">
              <span data-comment-id="<%= comment.id %>" class="comment-delete text-primary">削除</span>
            </div>
            <% }; %>
            
            <span class="reply_button text-primary float-righ">
              <span id="a<%= comment.id %>" class="reply_button text-primary mr-3 float-right" data-a="a<%= comment.id %>" data-reply="reply<%= comment.id %>" data-comment="<%= comment.id %>" data-post="<%= comment.postId %>" onclick="reply(event)">
                返信
              </span>
            </span>
            <div class="target-div"></div>
            <% }; %>
          </div>
        </div>
        <% }; %>
        
          <!-- このコメントに対する返信を取得 -->
        <% var reply_comments = comments.filter((v) => v.replyId === comment.id ); %>
        <% reply_comments.forEach((reply_comment) => { %>
          <div id="<%= reply_comment.id %>" class="row ml-lg-3">
            <div class="offset-1 col-2 col-md-1 mt-2">
              <img
                class="reply-icon"
                src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/upload-icon/<%= reply_comment.user.iconFileName %>"
                alt=""
              />
            </div>

            <div class="col-9 col-md-10 col-lg-9">
              <div class="row">
                <div class="col-12 comment-name pt-2">
                  <%= reply_comment.user.name %>
                </div>

                <div class="col-12">
                  <p class="border border-success mt-2 rounded">
                    <%= reply_comment.content %>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-11">
              <form action="/posts/reply/<%= post.id %>/<%= comment.id%>" method="post">
                <input type="hidden" name="_csrf" value="<%- csrfToken %>">
                <div class="row" id="reply<%= comment.id %>"></div>
              </form>
            </div>
          </div>
        <% }); %>
      <% }); %>
      <!-- コメント表示位置 -->

      </div>
      <script>
        // コードの処理
        window.onload = function () {
          var out = document.getElementById('output_area');
          var req_id = document.getElementById('output_area');
          var req_text = req_id.textContent;

          var req_Array = req_text.split('');

          var Array = [];
          req_Array.forEach((v) => {
          if (v === 'A' || v === 'C' || v === 'D' || v === 'B' || v === 'E' || v === 'F' || v === 'G') {
              Array.push('<span class="ml-2 text-primary code-ture">' + v + '</span>');
            } else if (v === '|') {
              Array.push('<span class="ml-2 mr-2 code-ture">' + v + '</span>');
            } else if (v === ' ') {
              Array.push('<span class="ml-2 mr-2 code-ture">' + v + '</span>');
            } else {
              Array.push('<span class="code-false">' + v + '</span>');
            };
          });

          var test = Array.join(',').replace(/,/g, '');
          out.innerHTML = test;
        };


      // 再生中は、「停止」ボタンにする
      function sound(event) { // eventを使ってどの要素が押されたか判断
        var sound_target = event.currentTarget;　// data属性　event で解決
        const audioId = sound_target.dataset['audio']; // data-○○要素の取得
        var target = document.getElementById(audioId);
        if ( !target.paused ) {
          sound_target.innerHTML = 'プレイヤーを表示<i class="fas fa-play-circle fa-fw fa-2x"></i>'
          target.removeAttribute("controls");
          target.pause();
        } else {
          sound_target.innerHTML = 'プレイヤーを消す';
          target.setAttribute("controls","controls");
          target.play();
        };
      };

      //　返信覧追加
      function reply(event) {
        var reply_target = event.currentTarget; // eventが発生した場所
        const replyId = reply_target.dataset['reply'];
        const a_tagId = reply_target.dataset['a'];
        const commentId = reply_target.dataset['comment'];
        const postId = reply_target.dataset['post'];
        var target = document.getElementById(replyId);
        var button_target = document.getElementById(a_tagId);
        var A = '<div class="col-1"><i class="fas fa-level-up-alt fa-fw fa-2x fa-flip-horizontal float-right text-secondary"></i></div>';
        var B = '<div class="col-1 mt-1"><img class="reply-icon"src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/upload-icon/<%= user.iconFileName %>"alt=""/></div><div class="col-10"><textarea name="reply_content" required class="bg-light w-100 rounded" rows="4" placeholder="<%= user.name %>としてコメントに返信する…"></textarea></div>';
        button_target.remove();
        target.innerHTML = `${A}${B}<div class="col-2"><span onclick="test()" class="reply-button text-primary float-right" data-post-id="${postId}" data-reply-id="${commentId}">送信する</span></div>`;
      };

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
