<!DOCTYPE html>
<html lang="ja">
  <%- include('../include/head') %>
  <body id="userlist-body">
    <!-- ヘッダー部分 -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: black;">
      <div class="container">
        <h2 class="navber-brand font-italic text-light">Share code</h2>
        <div class="float-right">
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="float-right d-none d-sm-block">
              <ul class="navbar-nav">
                <li class="nav-item ml-1">
                  <a class="nav-link ml-2" href="/">Top</a>
                </li>
                <li class="nav-item active ml-1">
                  <a class="nav-link ml-2" href="/user-list">Users</a>
                </li>
                <li class="nav-item ml-1">
                  <a class="nav-link ml-2" href="/posts/new">New</a>
                </li>
                <li class="nav-item ml-1">
                  <a class="nav-link ml-2" href="/mypage">My page</a>
                </li>
                <li class="nav-item ml-1">
                  <a class="nav-link ml-2" href="/login">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!--メイン-->
    <div class="container pt-5">
      <h1 class="font-italic pt-5 mt-1 ml-2 text-dark">User list</h1>
      <div class="w-100 mb-2" style="border:1px solid rgb(0, 0, 0)"></div>
      <div class="text-right">
        <form action="/user-list" method="GET" >
          <select name="sort" id="">
            <option value=""></option>
            <option value="update">最近ログインした人</option>
            <option value="favorite">いいね数</option>
            <option value="post">投稿数</option>
          </select>
          <button class="btn btn-primary">並び替え</button>
        </form>
      </div>
      <div class="w-100 mb-2" style="border:1px solid rgb(0, 0, 0)"></div>
      <div class="row">
        <% var now = new Date(); %>
        <% var nowTime = now.getTime(); %>
        <% users.forEach(user => { %>
          <div class="col-lg-6 p-2 userlist">
            <a href="/user-list/detail/<%= user.id %>">
            <div class="userlist-Card rounded p-2 text-dark">
              <div class="row">
                <div class="col-3 col-md-2 mr-md-3 col-lg-3">
                  <span class="ml-3">
                    <img
                      class="userlist-icon"
                      src="https://s3-ap-northeast-1.amazonaws.com/share-code.bucket/upload-icon/<%= user.iconFileName %>"
                      alt=""
                    />
                  </span>
                </div>

                <div class="col-9 col-lg-8">
                  <div class="row">
                    <span class="userlist-name col-md-10 mt-1">
                      <%= user.name %>
                    </span>

                    <span class="col-12">
                      <span>
                        投稿数<%= posts.filter((v) => user.id === v.userId).length %>
                      </span>
                      <span class="ml-1">
                        いいね数<%= user.favorite %>
                      </span>
                    </span>
                  </div>
                  <p class="user-introduction mt-1">
                    <%= user.introduction %>
                  </p>
                </div>
              </div>

            </div>
            </a>
          </div>
        <% }); %>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
